.form {
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 500;
  }

  &__video {
    display: flex;
    align-items: baseline;

    &-field {
      flex-grow: 1;
    }

    &-button {
      margin-left: 10px;
    }
  }
}