.header {
    display: flex;
    justify-content: center;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1366px;
    }

    &__title {
        display: flex;
        align-items: center;
        cursor: pointer;
        outline: none;
    }
}