.lectures {
    width: 100%;

    .lecture {
        &:hover {
            cursor: pointer;
            background: #EEEEEE;
        }

        &__delete {
          &:hover {
            color: #f44336;
          }
        }
    }
}